*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .background{
    height: 100vh;

    /* Creo immagine di sfondo con una transizione progressiva */
    background: linear-gradient(
      to bottom,
      #009688 0%,
      #009688 18%,
      #DCDBD3 18%,
      #D3DBDB 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Main container chat users */
  .main-container{
    width: 80%;
    min-height: 85vh;
    z-index: 10;
    background-color: #EAEAEA;
  }
  
  .user-container{
    width: 35%;
    height: 95vh;
    float: left;
    background-color: #fff;
    border-right: 1px solid #D3DBDB;
  }
  
  .users-bar{
    height: 60px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
  }
  
  .main-user{
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  img{
    cursor: pointer;
    border-radius: 50%;
    height: 40px;
    margin: 0 10px;
  }
  
  .chat-icons{
    color: #b3b2b3;
    padding-right: 10px;
  }
  
  .icons-user i {
    cursor: pointer;
    margin: 0 8px;
  }
  
  /* Serving */
  .serving{
    height: 60px;
    background-color: #8edafc;
    padding: 10px 20px;
  }
  
  .serving i {
    padding: 10px 8px;
    border-radius: 50%;
    color: #8edafc;
    background-color: #fff;
    margin-right: 10px;
    float: left;
  }
  
  .serving span{
    font-size: 12px;
  }
  
  .serving span:last-of-type{
    color: #547e92;
    font-size: 12px;
    text-decoration: underline;
  }
  
  .search-user{
    height: 35px;
    padding: 3px;
    background-color: #FAFAFA;
    text-align: center;
    position: relative;
  }
  
  .search-user input{
    width: 95%;
    padding: 6px 40px;
    border: 1px solid #f3f3f3;
    font-size: 0.6rem;
  }
  
  .search-user i{
    position: absolute;
    color: #91a6c5;
    font-size: 12px;
    left: 30px;
    top: 12px;
  }
  
  .user-contact{
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
  }
  
  .contact-container{
    height: 70vh;
    overflow: auto;
  }
  
  h5{
    font-weight: normal;
  }
  
  .user-contact span{
    font-size: 10px;
    color: #ccd5dc;
  }
  
  .info-contact{
    width: 60%;
  }
  
  .info-contact p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    color: #b1b1b1;
  }
  
  /* Righ section */

  .chat-container{
    width: 65%;
    height: 90vh;
    float: left;
  }
  
  .user-selected{
    flex-grow: 1;
  }
  
  .user-selected p{
    font: size 10px;
    color: #547e92;
  }
  
  /* Sezione con messaggi inviati e ricevuti */
  .chat-section{
    height: calc(100% - 50px - 50px);
    background-image: url('../img/mine.jpg');
    background-size: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .sent, .received{
    width: 230px;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 10px;
    padding: 8px;
    position: relative;
    word-break: break-word;
  }
  
  .sent{
    background-color: #D5F9BA;
    align-self: flex-end;
  }
  
  .received{
    background-color: #fff;
    align-self: flex-start;
  }
  
  .chat-section span{
    color: #B1B1B1;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  /* Barra per scrivere messaggi */
  .write-section{
    height: 50px;
    background-color: #F3EEEA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .write-section input{
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
  }
  
  .write-section i{
    color: #6B767F;
    margin: 0 20px;
  }
  
  .select{
    background-color: #E9EBEB;
  }